<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Education
    </h1>
    <div class="columns">
      <div class="column">
        <div class="card card-250">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Master Business Administrator - FGV - Brazil</p>
              <p class="subtitle is-6">March/2010 - June/2012</p>

              <p class="description">Learned soft skills needed to manage a real state and construction company. Changed
                experiences with
                other managers and company owners.</p>
              <div class="tags">
                <span class="tag is-warning">Management</span>
                <span class="tag is-danger">Real State</span>
                <span class="tag is-danger">Construction</span>
                <span class="tag is-warning">Finances</span>
                <span class="tag is-warning">Planning</span>
              </div><!-- tags -->
            </div><!-- content -->
          </div><!-- card-content -->
        </div><!-- card -->
        <br />
        <div class="card  card-200">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Electrical/Mechatronics Engineering, BSc - UFSC - Brazil</p>
              <p class="subtitle is-6">January/2003 - December/2007</p>
              <p class="description">Control engineering, automation, electrical and software engineering.</p>
              <div class="tags">
                <span class="tag is-info">Java</span>
                <span class="tag is-info">C++</span>
                <span class="tag is-info">Algorithms</span>
                <span class="tag is-info">Assembly</span>
                <span class="tag is-warning">Control Engineering</span>
              </div><!-- tags -->
            </div><!-- content -->
          </div><!-- card-content -->
        </div><!-- card -->
      </div><!-- column -->
      <div class="column">
        <div class="card  card-250">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Elixir Conference US August/2019</p>
              <p class="subtitle is-6">Release the Kraken… Err… Elixir!</p>

              <p class="description">Learned a lot about releases using Distillery. Had an introduction to Elixir
                releases. Learned about debugging systems running on production.</p>
              <div class="tags">
                <span class="tag is-info">Elixir</span>
                <span class="tag is-info">Releases</span>
                <span class="tag is-info">Distillery</span>
                <span class="tag is-info">Observer</span>
              </div><!-- tags -->
            </div><!-- content -->
          </div><!-- card-content -->
        </div><!-- card -->
        <br />
        <div class="card  card-200">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Elixir Conference US August/2019</p>
              <p class="subtitle is-6">Elixir in the Jungle</p>

              <p class="description">Learned about terraform and how to deploy code to Amazon AWS.</p>
              <div class="tags">
                <span class="tag is-info">AWS</span>
                <span class="tag is-info">Terraform</span>
                <span class="tag is-info">Elixir</span>
                <span class="tag is-info">Releases</span>
              </div><!-- tags -->
            </div><!-- content -->
          </div><!-- card-content -->
        </div><!-- card -->
      </div><!-- column -->
    </div><!-- columns -->
    <br />
    <h1 class="title">
      Soft skills
    </h1>
    <div class="columns">
      <div class="column">
        <div class="card card-200">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Personal</p>
              <p class="description">
                Very fast learner. <br />
                Self motivated with proactive behavior. <br />
                Good analytic capacity. <br />
                Love challenges and problems to solve.</p>
            </div><!-- content -->
          </div><!-- card-content-->
        </div><!-- card-->
        <br />
        <div class="card card-150">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Languages</p>
              <p class="description">Portuguese: Native<br />
                English: Fluent<br />
                French: Basic</p>
            </div><!-- content -->
          </div><!-- card-content-->
        </div><!-- card-->
      </div><!-- column -->
      <div class="column">
        <div class="card card-200">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Personality test</p>
              <p class="description"><strong>The Scientist</strong><br />
                "INTJ's live in the world of ideas and strategic
                planning. They value inteligence,
                knowledge, and competence, and tipically have high standards in these regards, which they contiuously
                strive to fulfill."</p>
            </div><!-- content -->
          </div><!-- card-content-->
        </div><!-- card-->
        <br />
        <div class="card card-150">
          <div class="card-content">
            <div class="content">
              <p class="title is-4">Objetives</p>
              <p class="description">To work in a nice software company and solve problems using the right programming
                languages and tools for the job.
                My main focus is working remotely, but relocating is also possible.
              </p>
            </div><!-- content -->
          </div><!-- card-content-->
        </div><!-- card-->
      </div><!-- column -->
    </div><!-- columns -->
  </div><!-- container-->
</div><!-- hero-body-->