<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-one-quarter-desktop is-hidden-mobile">
        &nbsp;
      </div><!-- column-->
      <div class="column is-half-mobile is-one-quarter-desktop">
        <figure class="image">
          <img class="is-rounded profile" src="assets/images/profile.jpg" alt="Placeholder image">
        </figure>
      </div><!-- column-->
      <div class="column is-half has-text-left">
        <p class="title is-size-3-desktop is-size-5-mobile">
          João Gilberto Balsini Moura
        </p>
        <p class="subtitle is-size-4-desktop is-size-6-mobile">
          Senior Full Stack Developer
        </p>
        <p>Brazilian / Italian</p>
        <p>35 years old</p>
        <br />
        <div class="hero-icons">
          <a class="icon is-medium" target="_blank" aria-label="Send email" href="mailto:joaobalsini@gmail.com">
            <i class="fas fa-2x fa-envelope"></i>
          </a>
          <a class="icon is-medium" aria-label="My LinkedIn" target="_blank"
            href="https://www.linkedin.com/in/jo%C3%A3o-gilberto-b-moura-7a46065">
            <i class="fab fa-2x fa-linkedin" aria-hidden="true"></i>
          </a>
          <a class="icon is-medium" aria-label="My Phone" target="_blank" href="https://wa.me/5548991239010">
            <i class="fab  fa-2x fa-whatsapp-square" aria-hidden="true"></i>
          </a>
          <a class="icon is-medium" aria-label="My Github" target="_blank" href="https://github.com/joaobalsini">
            <i class="fab  fa-2x fa-github-square" aria-hidden="true"></i>
          </a>
        </div><!-- hero-icons-->
      </div><!-- column-->
    </div><!-- columns-->

    <div>
      <p class="title is-size-4-desktop is-size-6-mobile">
        Currently living and working remotely from Florianópolis, SC, Brazil. 
      </p>
      <p class="title is-size-4-desktop is-size-6-mobile">
        <a target="_blank" href="https://www.laidbacktrip.com/posts/how-to-visit-florianopolis-in-brazil-guide">Where is Florianópolis?</a>
      </p>
      <p class="title is-size-4-desktop is-size-6-mobile"> 
        <a target="_blank" href="https://www.timeanddate.com/worldclock/brazil/florianopolis">What time is in Florianópolis?</a>
      </p>
    </div>
  </div><!-- container-->
</div><!-- hero-body -->
<div class="hero-foot has-text-centered">

  <p class="subtitle is-size-4-desktop is-size-6-mobile">
    <a data-scroll href="#experience">Scroll
      down to learn a bit more about me...</a>
  </p>

  <span class="icon is-medium">
    <a data-scroll href="#experience"> <i class="fas fa-2x fa-arrow-down" aria-hidden="true"></i></a>
  </span>
</div><!-- hero-foot -->
