<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Experience
    </h1>

    <div class="columns" id="row_trr_leanpanda">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by3">
              <img src="assets/images/san_francisco.jpg">
            </figure>
          </div><!-- card-image-->
          <div class="card-content">
            <div class="media">
              <div class="media-left is-hidden-mobile">
                <figure class="image is-128x128">
                  <img src="assets/images/logo_trr.png" alt="Placeholder image">
                </figure>
              </div><!-- media-left-->
              <div class="media-content">
                <p class="is-size-4-desktop is-size-5-mobile">
                  Senior Software Engineer <br />
                  <a target="_blank" href="http://www.therealreal.com">The Real Real</a>
                </p>
                <p class="is-size-5-desktop is-size-6-mobile""> San Francisco / USA (Remote)</p>
                <p class=" is-size-6-desktop is-size-7-mobile">December/2020 - Present
                </p>
              </div><!-- media-content-->
            </div><!-- media-->

            <p class="description is-size-6-desktop is-size-7-mobile">
              Working on Employees Efficiency Tribe on K2 team
              <br /> <br />
              Developing Elixir/Phoenix and Ruby/Rails solutions to improve our Authentication and Pricing.
              <br />
              Leading the docker project: already reduced onboarding time of new employees from 2 weeks to less than a
              day.
              <br />
              Tech lead of the price approval project. The goal is to automate a lot of manual task and reduce costs
              (900.000 USD yearly) while improving work quality for our employees.
            </p>
            <br />
            <div class="tags">
              <span class="tag is-info">Ruby</span>
              <span class="tag is-info">Ruby on Rails</span>
              <span class="tag is-info">Elixir</span>
              <span class="tag is-info">Phoenix</span>
              <span class="tag is-info">Docker</span>
              <span class="tag is-info">Kafka</span>
              <span class="tag is-info">MySQL</span>
              <span class="tag is-info">PostgreSQL</span>
              <span class="tag is-info">Heroku</span>
            </div>
          </div><!-- card-content-->
        </div><!-- card -->
      </div><!-- column -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by3">
              <img src="assets/images/firenze.jpg">
            </figure>
          </div><!-- card-image-->
          <div class="card-content">
            <div class="media">
              <div class="media-left is-hidden-mobile">
                <figure class="image is-128x128">
                  <img src="assets/images/logo_leanpanda.jpg" alt="Placeholder image">
                </figure>
              </div><!-- media-left-->
              <div class="media-content">
                <p class="is-size-4-desktop is-size-5-mobile">
                  Senior Sofware Engineer <br />
                  <a target="_blank" href="http://www.leanpanda.com">Lean panda</a>
                </p>
                <p class="is-size-5-desktop is-size-6-mobile""> Firenze / Italy (Remote)</p>
                <p class=" is-size-6-desktop is-size-7-mobile">Jun/2020 - January/2021
                </p>
              </div><!-- media-content-->
            </div><!-- media-->

            <p class="description is-size-6-desktop is-size-7-mobile">
              Developed an Application for a group of Real Estate Agencies using Phoenix Framework and Phoenix Liveview.
              The stack included Docker, Postgres and Gitlab. Also there was some map related work with Postgis.
              Tech Lead of the project, responsible for all the implementation of a project and its stack: CI/CD,
              frontend and backend.
              <br />
              Tutored developers on migrating from Ruby to Elixir
              <br />
              Helped create standards for Elixir development
              <br />
              Eventually worked on some existing Ruby on Rails projects as well, fixing issues, and adding new
              features.
            </p>
            <br />
            <div class="tags">
              <span class="tag is-info">Elixir</span>
              <span class="tag is-info">Phoenix LiveView</span>
              <span class="tag is-info">Gitlab</span>
              <span class="tag is-info">Heroku</span>
              <span class="tag is-info">Tests</span>
              <span class="tag is-info">E2E Tests</span>
              <span class="tag is-info">CI/CD</span>
              <span class="tag is-info">Docker</span>
              <span class="tag is-info">PostgreSQL</span>
            </div>
          </div><!-- card-content-->
        </div><!-- card -->
      </div><!-- column -->
    </div><!-- columns -->
    <div class="columns" id="row_asolvi_bm2">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by3">
              <img src="assets/images/trondheim.jpg">
            </figure>
          </div><!-- card-image-->
          <div class="card-content">
            <div class="media">
              <div class="media-left is-hidden-mobile">
                <figure class="image is-128x128">
                  <img src="assets/images/logo_asolvi.jpg" alt="Placeholder image">
                </figure>
              </div><!-- media-left-->
              <div class="media-content">
                <p class="is-size-4-desktop is-size-5-mobile">
                  Sofware Engineer <br />
                  <a target="_blank" href="http://www.asolvi.com">Asolvi</a>
                </p>
                <p class="is-size-5-desktop is-size-6-mobile""> Trondheim / Norway (Remote)</p>
                <p class=" is-size-6-desktop is-size-7-mobile">March/2019 - May/2020
                </p>
              </div><!-- media-content-->
            </div><!-- media-->

            <p class="description is-size-6-desktop is-size-7-mobile">
              Specified and developed three services from scratch. Two of them implemented GraphQL APIs using
              Absinthe.
              <br />
              On the backend
              we used Elixir, Ecto, PostgresSQL and MSSQL.
              <br />
              On the frontend we used a mix of vanilla Javascript, VueJS and
              Phoenix Liveview.
              <br />We worked on the whole stack, including architecture, tests, and deployment to Azure
              Cloud using Docker containers and build pipelines that implement multiple checks (formatter, dialyzer,
              tests,
              e2e tests) before deploying to
              production.
            </p>
            <br />
            <p><a href="cv_asolvi_details.html">READ MORE</a></p>
            <br />
            <div class="tags">
              <span class="tag is-info">Elixir</span>
              <span class="tag is-info">Phoenix LiveView</span>
              <span class="tag is-info">GraphQL</span>
              <span class="tag is-info">Azure Devops</span>
              <span class="tag is-info">Tests</span>
              <span class="tag is-info">E2E Tests</span>
              <span class="tag is-info">Cypress</span>
              <span class="tag is-info">TestCafé</span>
              <span class="tag is-info">CI/CD</span>
              <span class="tag is-info">Docker</span>
              <span class="tag is-info">VueJS</span>
              <span class="tag is-info">PostgreSQL</span>
              <span class="tag is-info">MSSQL</span>
              <span class="tag is-info">Terraform</span>
            </div>
          </div><!-- card-content-->
        </div><!-- card -->
      </div><!-- column -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by3">
              <img src="assets/images/barbosamoura2.jpg">
            </figure>
          </div><!-- card-image-->
          <div class="card-content">
            <div class="media">
              <div class="media-left is-hidden-mobile">
                <figure class="image is-128x128">
                  <img src="assets/images/logo_barbosamoura.png" alt="Placeholder image">
                </figure>
              </div><!-- media-left-->
              <div class="media-content">
                <p class="is-size-4-desktop is-size-5-mobile">
                  Managing Partner/CEO <br />
                  <a target="_blank" href="http://www.barbosamoura.com.br">Construtora Barbosa Moura</a>
                </p>
                <p class="is-size-5-desktop is-size-6-mobile""> Tubarão / Brazil (Onsite)</p>
                <p class=" is-size-6-desktop is-size-7-mobile">March/2013 - February/2019
                </p>
              </div><!-- media-content-->
            </div><!-- media-->

            <p class="description description-270 is-size-6-desktop is-size-7-mobile">Successfully managed a real state
              and
              construction company with around 50 employees and contractors. The conflicts were reduced by a big margin
              at the same time the ownership of tasks was improved.<br /><br />
              Migrated new company
              projects
              from CAD to BIM, that change made our projects a lot easier
              to track, increased the quality of the construction, reduced maintenance and as a consequence, increased
              our revenue.<br />
              Managed the construction of two buildings around 10.000 m2 from foundation to deliver.
            </p>
            <br />
            <p><a href="cv_barbosamoura_ceo_details.html">READ MORE</a></p>
            <br />
            <div class="tags">
              <span class="tag is-danger">BIM</span>
              <span class="tag is-warning">Management</span>
              <span class="tag is-danger">Real State</span>
              <span class="tag is-warning">Engineering</span>
              <span class="tag is-info">Ruby</span>
              <span class="tag is-info">Ruby on Rails</span>
              <span class="tag is-info">Angular.JS</span>
              <span class="tag is-info">MySQL</span>
              <span class="tag is-info">Firebase</span>
            </div>
          </div><!-- card-content-->
        </div><!-- card -->
      </div><!-- column -->
    </div><!-- columns -->
    <div class="columns" id="row_bm1">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by3">
              <img src="assets/images/tubarao.jpg">
            </figure>
          </div><!-- card-image-->
          <div class="card-content">
            <div class="media">
              <div class="media-left is-hidden-mobile">
                <figure class="image is-128x128">
                  <img src="assets/images/logo_barbosamoura.png" alt="Placeholder image">
                </figure>
              </div><!-- media-left-->
              <div class="media-content">
                <p class="is-size-4-desktop is-size-5-mobile">
                  Software engineer <br />
                  <a target="_blank" href="http://www.barbosamoura.com.br">Construtora Barbosa Moura</a>
                </p>
                <p class="is-size-5-desktop is-size-6-mobile""> Tubarão / Brazil (Onsite)</p>
                <p class=" is-size-6-desktop is-size-7-mobile">March/2008 - February/2013
                </p>
              </div><!-- media-content-->
            </div><!-- media-->

            <p class="description is-size-6-desktop is-size-7-mobile"> Successfully replaced Excel, used to manage parts
              of the company, with a modern ERP system that I
              developed using Ruby on Rails, Javascript and MySQL.<br /><br />
              Improved a lot how the company worked, allowing staff to do a lot more, with more quality, in less
              time.<br />
              Made new data available in real time to managers to better understand the company through
              reports.<br />
            </p>
            <br />
            <p><a href="cv_barbosamoura_dev_details.html">READ MORE</a></p>
            <br />
            <div class="tags">
              <span class="tag is-info">Ruby</span>
              <span class="tag is-info">Ruby on Rails</span>
              <span class="tag is-info">Tests</span>
              <span class="tag is-info">Rspec</span>
              <span class="tag is-info">MySQL</span>
              <span class="tag is-info">NoSQL</span>
              <span class="tag is-info">Firebase</span>
              <span class="tag is-info">Javascript</span>
              <span class="tag is-info">JQuery</span>
              <span class="tag is-info">Angular.JS</span>
            </div>
          </div><!-- card-content-->
        </div><!-- card -->
      </div><!-- column -->
      <div class="column">
        <div class="card">
        </div><!-- card -->
      </div><!-- column -->
    </div><!-- columns -->
  </div><!-- container -->
</div><!-- hero-body -->
