<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Recommendations
    </h1>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img class="is-rounded" src="assets/images/review_janne.jpg" alt="Placeholder image">
            </figure>
          </div><!-- media-left-->
          <div class="media-content is-vcentered">
            <p class="title is-4">
              Janne Langø
            </p>
            <p class="subtitle"> Head of People Operations at Asolvi</p>
            </p>
            <p class="description">
              "Joao has shown enthusiasm and ownership for his work from his first day with us. He is a professional and
              passionate developer and is well liked by his team members.""
            </p>
          </div><!-- media-content-->
        </div><!-- media-->
      </div><!-- card-content-->
    </div><!-- card-->
    <br />
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img class="is-rounded" src="assets/images/review_tanja.jpg" alt="Placeholder image">
            </figure>
          </div><!-- media-left-->
          <div class="media-content">
            <p class="title is-4">
              Tanja Tollin
            </p>
            <p class="subtitle"> Product Owner at Asolvi</p>
            </p>
            <p class="description">
              "As a product owner in Asolvi, I have had the pleasure to work with Joao Gilbert Balsini Moura. Joao is
              the one that the other team members turn to for advice, he is very skilled and shows a very good
              understanding of the business and how to translate this into the product they are creating. He works
              methodically and structured and playes a key role into creating such a collaborative spirit in the team.
              He also brought a very easy-going social attitude to the team, which I think is key to create a good
              working environment."
            </p>
          </div><!-- media-content-->
        </div><!-- media-->
      </div><!-- card-content-->
    </div><!-- card-->
    <br />
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img class="is-rounded" src="assets/images/review_camilla.jpg" alt="Placeholder image">
            </figure>
          </div><!-- media-left-->
          <div class="media-content">
            <p class="title is-4">
              Camilla Rygh
            </p>
            <p class="subtitle"> Elixir developer at Asolvi</p>
            </p>
            <p class="description">
              "Joao is always there if you need a hand. Despite being far away and in a different time zone, he shows up
              when he is needed the most and always with a positive attitude. He has a way of identifying tasks that are
              neglected by the team, for example if we fall behind on code reviews, leading to consistency in the work
              we do and how we do it."
            </p>
          </div><!-- media-content-->
        </div><!-- media-->
      </div><!-- card-content-->
    </div><!-- card-->
    <br />
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
            </figure>
          </div><!-- media-left-->
          <div class="media-content">
            <p class="title is-4">
              Dee Roberts
            </p>
            <p class="subtitle"> Elixir developer at Asolvi</p>
            </p>
            <p class="description">
              "Joao has a fantastic work ethic, and is always willing to take on tricky items and see them through. His
              experience and skill as a developer means the end result is always top notch, both in code quality and
              user experience. He's also just an absolute pleasure to work with, always happy and bright no matter how
              things are going, which has really helped bring the team together."
            </p>
          </div><!-- media-content-->
        </div><!-- media-->
      </div><!-- card-content-->
    </div><!-- card-->
  </div><!-- container-->
</div><!-- hero-body-->