<footer class="footer level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Author</p>
      <p class="is-size-4">João Gilberto B. Moura</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Github account</p>
      <p class="is-size-4"><a href="https://github.com/joaobalsini/">joaobalsini</a>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Email</p>
      <p class="is-size-4"><a href="mailto:joaobalsini@gmail.com">joaobalsini@gmail.com</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Phone</p>
      <p class="is-size-4"><a href="https://wa.me/5548991239010">+5548991239010</a></p>
    </div>
  </div>
</footer>