<div class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image is-5by3">
        <img src="assets/images/barbosamoura2.jpg">
      </figure>
    </div><!-- card-image-->
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/480x480.png" alt="Placeholder image">
          </figure>
        </div><!-- media-left-->
        <div class="media-content">
          <p class="is-size-4">
            Managing Partner <br />
            <a href="http://www.barbosamoura.com.br">Construtora Barbosa Moura</a>
          </p>
          <p class="is-size-5"> Tubarão / Brazil (Onsite)</p>
          <p class="is-size-6">March/2013 - February/2019
          </p>
        </div><!-- media-content-->
      </div><!-- media-->

      <p>Responsible for managing key areas of the company. Implemented BIM process on the company from
        start.
        Responsible for new developments, construction maintenance, marketing and finances. </p>

      <p> Added new features on the ERP system of the company, mainly migrating features implemented on
        JQuery
        to AngularJS.</p>
      <span class="tag is-danger">BIM</span>
      <span class="tag is-warning">Management</span>
      <span class="tag is-danger">Real State</span>
      <span class="tag is-warning">Engineering</span>
      <span class="tag is-info">Ruby</span>
      <span class="tag is-info">Ruby on Rails</span>
      <span class="tag is-info">Angular.JS</span>
      <span class="tag is-info">MySQL</span>
      <span class="tag is-info">Firebase</span>
    </div><!-- card-content-->
  </div><!-- card -->
</div><!-- column -->
</div><!-- columns -->
</div><!-- container -->
</div><!-- hero-body -->

<p class="title is-4">Full stack Developer @ <a href="http://www.barbosamoura.com.br">Construtora
    Barbosa
    Moura Ltda</a> (Tubarão / Brazil) - Onsite
</p>
<p class="subtitle is-6">March/2008 - February/2013 <strong>(5 years)</strong></p>

<p>Development of an ERP system to help managing the company and it's constructions jobs. </p>

<p>It has several features: Manages expences and revenues, human resources, contractors, creates
  financial
  reports, manages construction budgets, calculates construction revenues,
  generates real state contracts (from template to .docx format), manages real state contracts, etc.</p>
<span class="tag is-info">Ruby</span>
<span class="tag is-info">Bash</span>
<span class="tag is-info">Formal verification</span>
</div>